@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-4">This is project for Web-technology course.</h3>
    <h3 class="display-4">The project is about famous musical composers.</h3>
    <h5 class="display-4">Done by Illia Dubinin and Maksym Savytskyi.</h5>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
