@model SimpleMusic.Models.Composer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Composer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <textarea asp-for="Bio" class="form-control"></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="ui-widget">
                    <label asp-for="CountryId" class="control-label"></label>
                    <input type="text" id="CountryName" class="form-control" data-autocomplete-source="@Url.Action("AutocompleteCountryId", "Input")" />
                    <!--<select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>-->
                    <input asp-for="CountryId" type="hidden" id="autocompleteId" />
                    <span asp-validation-for="CountryId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GeoLong" class="control-label"></label>
                <input asp-for="GeoLong" class="form-control"></input>
                <span asp-validation-for="GeoLong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeoLat" class="control-label"></label>
                <input asp-for="GeoLat" class="form-control"></input>
                <span asp-validation-for="GeoLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/autocomplete.js"></script>